# Python cache files
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# IDE configurations
.vscode/
.idea/

# Database files
*.db
*.sqlite3

# Output results and temporary images
output/
*.png
*.jpg
*.jpeg
*.tif
*.tiff

.DS_Store

SOCOFing/